.custom-rel{
  position: relative;
  top: 19px;
  left: -69px;
  font-size: 12px;
  opacity: 0.5;

}


@media only screen and (min-width: 1280px) {
  .custom-container {
    /* background-color: red; */
    /* max-width: 1905px; */
    max-width: 100%;
  }
}

.--rel{
  position: relative;
  display: inherit;
  top: -34px;
  width: 12%;
  padding: 4px;
  left: 44rem;
  margin-bottom: -31px;
  
}
.swiper_container{

  
}
@media only screen and (max-width: 767px) {
  /* CSS rules for mobile phones */
  .logo {
    font-size: 18px;
    position: relative;
    top: -8px;
  }
  body {
    overflow-x: hidden;
  }
  .icon {
    position: absolute;
    right: 38px;
    top: -8px;
    opacity: 0.5;
    width: 29px;
  }
  .li,
  .link {
    font-size: 16px;
  }
  .hr2 {
    display: none;
  }
}

.custom-width {
  height: 38px;
  width: 89px;
}

.custom-pos {
  position: relative;
  top: -24px;
  left: 39px;
}
.custom-img {
  height: 98px;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .following-head {
    margin-top: 25px;
    margin-bottom: 34px;
    position: relative;
    font-size: 24px;
    left: 18px;
  }
  .custom-llg{
    gap: 248px;
  }
  .custom-llg-1{
    gap: 6rem
  }
  .custom-llg-2{
    gap: 3rem;
  }
  .custom-llg-3{

    gap: 4rem;
  }
  .custom-llg-04{
    position: relative;
    right: 43px;
    gap: 31px;
  }
  .t-x-l{
    position: relative;
    left: -36px;
  }
  .custom-margin {
    margin-bottom: 66px;
  }
  .custom-card {
    margin-bottom: 25px;
  }
  .custom-width {
    height: 38px;
    width: 89px;
  }
  .custom-img-2 {
    height: 8rem;
  }
  .custom-img22 {
    height: 11rem;
    width: auto;
  }
  #summary {
    width: max-content;
    margin: auto;
  }
  .custom-relative {
    text-align: center;
  }
  .custom-child-{
    width: 356px;
  }
  .label{
    margin-left: -35px;
  }
  .notenable{
    gap: 27px;
  }
  .input-L{
    padding: 3px;
  }
}

.cartstyle {
  background: #f1f5f9;
  height: 65px;
  border-radius: 8px;
  width: 176vh;
  padding: 11px;
  margin-top: 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
@media only screen and (max-width: 767px) {
  .custom-child-1{

    position: relative;
    right: 84px;
  }
  
  .cartstyle {
    overflow-x: hidden;
    width: auto;
  }
  .hr22{
    display: none
    ;
  }

.custom-parent-height{
  height: 36rem;
}

.custom-icons-position{

  background-color: gray;
  /* padding: 1rem; */
  position: relative;
  top: 200px;
}






}
/* form below */

.container-12 {
margin-top: 9px;
  border-radius: 10px;

  /* margin: 50px auto; */
  max-width: 500px;
  padding: 30px;
}
.custom-child-gap{

gap: inherit;

}
.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
  /* background-color: #f9f9f9; */
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgb(78 70 70 / 29%);
}
.input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
  border: 2px solid #007aff;
  outline: none;
}

.input{
  width: 25rem;
}

