@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
 */

 .shadow-x{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
}
.font{
    font-family: initial;
}
@media only screen and (max-width: 767px) {
    /* CSS styles for mobile screens */
    .parent-col{
        display: flex;
        flex-direction: column;
    }
    .child-col{
        margin-top: 25px;
        position: relative;
        left: 7px
    }
    .gap-a{
        gap: 2.75rem;
    }
    .child-form{
        margin-bottom: 20px;
    }
  }
  .accordin{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }



  
.box-sx {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 20px;
  }
  
  .shadow-x{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .my-carousel .carousel-control {
  font-size: 30px;
  
  padding: 1px;
  position: relative;
  left: 76px;
  height: 34px;
}
  
  
  .my-carousel .carousel-control:hover {
    font-size: 30px;
   
    padding: 1px;
    position: relative;
    left: 76px;
    height: 34px;
}
  
.xxll{
  position: absolute;
  right: 64px;
  top: 43px;
  color: #b19676;

}
.xxlll{
  position: absolute;
  right: 114px;
  top: 43px;
  color: #b19676;
}
