
.custom-width{
  height: 38px;
  width: 89px;
}

.custom-pos{

  position: relative;
  top: -24px;
  left: 39px;
}
.custom-img{
  height: 98px;
  width: auto;

}
@media only screen and (max-width: 767px) {
  .following-head {
    margin-top: 25px;
    margin-bottom: 34px;
    position: relative;
    font-size: 24px;
    left: 18px;
  }
  .custom-margin {
    margin-bottom: 66px;
  }
  .custom-card {
    margin-bottom: 25px;
  }
  .custom-width{
    height: 38px;
    width: 89px;
  }
  .custom-img-2{
    height: 13rem;
  }
}
